{% extends 'base.html' %}

{% block content %}

<form method='POST'>

    {% csrf_token %}

    {% for field in form.visible_fields %}
        
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}

        <p>{{ field.label_tag}}{{ field }}</p>

    {% endfor %}
    <input type="submit" value="Change">
    
</form>

{% endblock content %}