{% extends 'base.html' %} 

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block content %}
<div class="basic-form-margin">

  <h2>Edit your profile</h2>
  
  <form class="form-style" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in user_form.visible_fields %}
     
      {% if  field.label != "Password" %}
        {% for error in field.errors %}
        {{ error }}
        {% endfor %} 

        <p>{{ field.label_tag}}{{ field }}</p>
      {% endif %}
      
    {% endfor %}

    {% for field in profile_form.visible_fields %}
     
      
        {% for error in field.errors %}
        {{ error }}
        {% endfor %} 

        <p>{{ field.label_tag}}{{ field }}</p>
            
    {% endfor %}
    
    <button type="submit">Save</button>
  </form>
  
</div>
{% endblock content %}
