{% extends 'base.html' %}
{% load account_tags %}
{% load static%}

{% block title %}
<title>Email sent</title>
{% endblock title %}

{% block content %}
<a href="{% url 'accounts:become_host' %}">Become a host</a>

<div class="host-container">
{% for profile in profiles %}
    <div class="hosts-tile">
        <a  href="{{ profile.get_absolute_url }}">
            {% if  profile.avatar|has:'url' %}
                <img src="{{ profile.avatar.url }}" alt='{{ profile.user.username }}'>
            {% else %}
                <img src="{% static 'img/avatar.jpg' %}" alt='Not Available'>
            {% endif %}

            <p>{{ profile.user.username }}</p>
        </a>
    </div>

{% endfor %}
</div>

{% endblock content %}