{% extends 'base.html' %} 

{% block title %}<title>Login</title>{% endblock title %}

{% block content %}

<div class="basic-form-margin">
  <h2>Login</h2>
  
  <form class="form-style" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  
</div>

{% endblock %}