{% extends 'base.html' %}
{% load static %}
{% load account_tags %}

{% block content %}
<div class="profile-container">
<td>
    {% if user.profile.avatar|has:'url' %}
        <img src="{{ user.profile.avatar.url }}">
    {% else %}
        <img src="{% static 'img/avatar.jpg' %}">
    {% endif %}
</td>
<br>
<div class="profile-data">
        <p class="item-name">Username: </p><p>{{ user.username }}</p>
        <p class="item-name">First Name: </p><p>{{ user.first_name }}</p>
        <p class="item-name">Last Name: </p><p>{{ user.last_name }}</p>
        <p class="item-name">Email: </p><p>{{ user.email }}</p>
        <p class="item-name">Joined: </p><p>{{ user.date_joined }}</p>
   
</div>

</div>
<br>

<div class="profile-links">
{% if user.is_authenticated %}
<a href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
<a href="{% url 'accounts:change_password' %}">Change Password</a>
{% endif %}
</div>

{% endblock content %}