{% extends "base.html" %}

{% block title %}
<title>Cart Detail</title>
{% endblock %}

{% block content %}

<ul>
    <!-- {% if cart %} -->
    <p>Your Cart:</p>
    {% for item in cart %}
       <li>EVENT NAME: {{item.run.event}}  NUMBER OF SEATS: {{item.quantity}}
        <a href="{% url 'cart:remove' item.run.id %}">delete item </a>
        </li>  
    {% endfor %}
    <!-- {% else %} -->
    <p>The cart is empty</p>
    <!-- {% endif %} -->
</ul>
{% endblock content %}