@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    color: #000;
    text-decoration: none;
    
}

a:focus {
    outline: none;
}

/*HEADER*/
header {
    height: 3rem;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 5px rgba(200,200,200);
    display: flex;
    white-space: nowrap;
    position: sticky;
    top:0;
    z-index: 1;
    
}

.header-section {
    line-height: 3rem;
}

#logo-container {
    text-align: left;
}

#nav-buttons {
    margin: auto;
    text-align:center
}

#user-buttons {
    text-align:right;
}

.nav-button {
    margin: 0 1rem;
    font-weight: 700;
}

.nav-button:hover {
    color: #cca620;
}

#logo-container {
    font-size: 1.5em;
}

.cart {
    position: relative;
}

.fa-shopping-cart {
    font-size: 1.3rem;
}

.fa-circle {
    color: #cca620;
    font-size: 1.1rem;
    position:absolute;
    top:-30%;
    right: -15%;
}

.cart-count {
    color: black;
    font-size: 0.8rem;
    position:absolute;
    top:-115%;
    right: 7%;
}


#header-searchbox {
    margin-right: auto;
}

#header-searchbox input {
    border: none;
    border-bottom: solid rgb(200,200,200) 1px;
    border-radius: 15px;
    padding-left: 20px;
    padding-bottom: 2px;
    color: #a58006;     
}



/* FOOTER*/

footer {
    background-color: rgba(250,250,250);
    height: 200px;

    display: flex;
    justify-content: center;
}

footer section {
    padding: 1em 0;
    width: 200px; /*need to specify width in order section to not stretch to max*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer section * {
    align-text: center;
}

footer section a {
    color: #4A4A4A;
    font-size: 0.8em;
    align-text: center;
}

/* Index page*/

.main-banner {
    background-position: top;
    background-repeat: no-repeat;
    background-image: url('/static/img/sidliste2.jpg');
    background-size: 100% 100%;
    height: 550px;

    display: grid;
    grid-template-rows: 15% 30% 28% 1fr;
    grid-template-columns: 10% repeat(6, 1fr) 10%;

    align-items: center;
    justify-items: center;
    grid-column-gap: 10px;
}

.main-banner a{
    height: 45px;
    width: 150px;
    line-height: 45px;

    font-size: 20px;
    text-align: center;

    background-color: #cca620;
    color: white;
    border-radius: 1em;
}

.main-banner a:nth-of-type(1) {
    grid-area: 4 / 3 / 4 / 4;

}

.main-banner a:nth-of-type(2) {
    grid-area: 4 / 4 / 4 / 5;
    
}

.main-banner a:nth-of-type(3) {
    grid-area: 4 / 5 / 4 / 6;
    
}

.main-banner a:nth-of-type(4) {
    grid-area: 4 / 6 / 4 / 7;
    
}

.claim {
    grid-area: 1 / 2 / 3 / 8;
    text-align: center; /*align horizontally*/
    line-height: 240px; /*align horizontally*/
    font-size: 80px;
    /* position:absolute;
    top: 10%;
    left: 10%; */
    
    text-align: center;
    font-size: 60px;
}

/*EVENT LISTING*/

/*filters*/
.event-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.event-filters .form-filter {
    margin: 0 20px;

}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    border-bottom: solid black 1px;
    padding: 0.5em 1.5em;
    background-color: white;
}
/*event category filters*/

.event-filters {
    /*temporary rule - just placeholder*/
    height: 100px;
}

.event-category-filters{
    text-align: center;
    display:flex;
    justify-content: center;
}

.errors{
    color: #b22929;
}

.button-gold{
    margin: 0 30px;
    padding:  10px;
    font-size: 15px;
    background-color: #cca620;
    color: white;
    border-radius: 2em;
    height: 20x;
    width: 200px;
}

.button-blue{
    margin: 0 30px;
    padding:  10px;
    font-size: 15px;
    background-color: #E9967A;
    color: white;
    border-radius: 2em;
    height: 20x;
    width: 200px;
}

/*events list*/
.event-container{
    padding: 0 200px;
    margin: 3em auto;
}

.event-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 300px);
    grid-gap: 30px;
    margin:auto;
}

.event-tile {
    display: grid;
    grid-template-rows: 2fr 1fr;
    white-space: nowrap;
    min-width: 200px;
}

.event-tile img {
    max-width:100%;
    max-height: 100%;
    background-color: white;
}

.not-available {
    width: 100%;
    height: 100%;
    margin:auto;
    background-image: url('/static/img/no_photo.png');
    background-repeat: no-repeat;
    background-position: center;
    border: solid #cca620 1px;
}

/*pagination*/

.pagination {
    margin: 3em;
    display: flex;
    justify-content: center;
}

.pagination * {
    padding: 0.5em 1em;
}

.pagination-num_pages{
    padding: 0;
}

.pagination .active-pagination {
    background-color: #cca620;
}

.pagination .inactive-pagination {
    background-color: #c9c9c9;
}
/*mz events*/
.my-event-container{
    padding: 0 200px;
    margin: 3em auto;
}

.my-event-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 300px);
    grid-gap: 30px;
    margin:auto;
}

.my-event-tile {
    display: grid;
    grid-template-rows: 2fr 1fr;
    white-space: nowrap;
    min-width: 200px;
}

.my-event-tile img {
    max-width:100%;
    max-height: 100%;
    background-color: white;
}



/*EVENT DETAIL*/
.event-info{
    display: flex;
    margin: 10px;
}

.event-info p{
    margin: 5px;
}


.event_run-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 300px);
    grid-gap: 30px;
    margin:auto;
}

.event-detail-top{
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 4rem
}

.event-detail-undertop {
    align-self: center;
    
} 

.event-detail-pictures{
    display: flex;
    height: 300px;
}

/*.main-image {
    height: 500px;
    width: 400px;
}
*/


.main-image img {
    height: 100%;
    width: 50%;
}

/*-------CAROUSEL SETUP--------*/
.owl-carousel {
    max-height: 300px; 
    width: 300px;
    position: relative;
    margin: 20px;
    
}

.owl-carousel img {
    max-height: 200px; 
    
}

.owl-nav {
    font-size: 2rem;
}

.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 3%;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 10%;
    right: 3%;
}

.event_run-container{
    padding: 0 200px;
    margin: 3em auto;
}
/*Forms*/
/*********************************/
/* Edit event, Register*/
.basic-form-margin{
    margin: 30px;
}

.form-style form {
    margin: 10px;
}

.form-style li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
    
}

.form-style label {
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}

.form-style input[type=text], 
.form-style input[type=date],
.form-style input[type=datetime],
.form-style input[type=number],
.form-style input[type=search],
.form-style input[type=time],
.form-style input[type=url],
.form-style input[type=email],
.form-style textarea, 
.form-style select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:3px solid #BEBEBE;
    border-radius: 8px;
    padding: 7px;
    margin:0px;
    
}

.form-style textarea {
    width: 400px;
    height: 150px;
}

.form-style button {
    background-color: #BEBEBE;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*profile page*/
.profile-container{
    display: flex;
    margin: 50px;
}

.profile-container img{
    height: 225px;
    width: 225px;
}
.profile-data{
    margin-left: 100px;
}

.item-name{
    font-weight: bold;
    margin: 2px;
}

.profile-links{
    display: flex;
    justify-content:center;
}

.profile-links a:link{
    background-color: #BEBEBE;
    color: black;
    border-radius: 5px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
}

/* visited link */
.profile-links a:visited{
    color: black;
}

/* mouse over link */
.profile-links a:hover{
    background-color: hotpink;
}

/*my events*/
.add-event-link{
    display: flex;
    justify-content:center;
}

.add-event-link a:link{
    background-color: #BEBEBE;
    color: black;
    border-radius: 5px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
}

/* visited link */
.add-event-link a:visited{
    color: black;
}

/* mouse over link */
.add-event-link a:hover{
    background-color: hotpink;
}
/**************************/
/*HOST_LIST*/
.host-container {
    display:flex;
    margin:50px;

}

.hosts-tile {
    height: 100;
    width:100;
}

.hosts-tile img{
    max-width:50%;
    max-height: 50%;
    background-color: white;
}

/* Messages */

.success {
    background-color: rgb(125, 214, 107);
    text-decoration-color: black;
}

.error {
    background-color: rgb(214, 107, 107);
    text-decoration-color: black;
}