<header>

    <div class="header-section" id="logo-container">
        <a class="nav-button" href="{% url 'index' %}">
            Explorea
        </a>
    </div>

    <div class="header-section" id="nav-buttons">
        <a class="nav-button" href="{% url 'events:search' 'all' %}">
            Events
        </a>
        <a class="nav-button" href="{% url 'events:my_events' %}">
            My Events
        </a>
        <a class="nav-button" href="{% url 'accounts:host_list' %}">
            Hosts
        </a>
    </div>

    <div class="header-section" id="header-searchbox">
        <form  action="{% url 'events:search' 'all' %}" method="GET">
            <input type="text" name='q' placeholder="search...">
        </form>
    </div>
    
    <div class="header-section" id="user-buttons">
            <a class="nav-button" title="Your Cart" href="{% url 'cart:detail' %}">
                    <i class="fas fa-shopping-cart">{{items_number}}</i>
                    <span class='cart-count'>{{items_number}}</span>
                    <i class="fas fa-circle"></i>
            </a>
                {# {% if user.profile.is_host %} #}
                <a class="nav-button" title="Add Event" href="{% url 'events:create_event' %}">
                    <i class="fas fa-plus-circle"></i>
                </a>
                {# {% endif %} #}

        {% if user.is_authenticated %}

            <a class="nav-button" title="Profile" href="{% url 'accounts:profile' %}">
                {{ user.username }}
                <i class="fas fa-user"></i>
            </a>
            <a class="nav-button" href="{% url 'accounts:logout' %}">
                logout
            </a>

        {% else %}
            <a class="nav-button" href="{% url 'accounts:login' %}">
                log in
            </a>
            <a class="nav-button" href="{% url 'accounts:register' %}">
                sign up
            </a>
        {% endif %}
    </div>

</header>