{% load url_tags %}

<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="{% next_page page.previous_page_number %}">«</a>
        {% endif %}

        <span class="pagination-num_pages">
        {% for page_num in page.paginator.page_range %}
            {% if page_num == page.number %}
                <a class="active-pagination" href="#">{{ page_num }}</a>
            {% else %}
                <a class="inactive-pagination" href="{% next_page page_num %}">{{ page_num }}</a>
            {% endif %}
        {% endfor %}
        </span>

        {% if page.has_next %}
            <a href="{% next_page page.next_page_number %}">»</a>
        {% endif %}
    </span>
</div>