
{% extends 'base.html' %} 

{% block title %}
<title>New Event</title>
{% endblock title %}

{% block content %}
<div>

  <h2>Edit event {{ event.name }}</h2>
  
  <form class="form-style" method="post" enctype="multipart/form-data">
    <ul class="form-style">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}

        <li>{{ field.label_tag}}{{ field }}

    {% endfor %}

    
    
    <button type="submit">Save</button>
  </ul>
  </form>
  
</div>
{% endblock content %}