{% extends 'base.html' %} 

{% block title %}
<title>Edit Event</title>
{% endblock title %}

{% block content %}
<div>

  <h2>edit event</h2>
  
  <form method="post">
  <ul class="form-style">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}

        <li>{{ field.label_tag}}{{ field }}

    {% endfor %}
    <button type="submit">Save</button>
  </ul>
  </form>
  
</div>
{% endblock content %}