{% extends 'base.html' %} 

{% block title %}
<title>Edit Event Run</title>
{% endblock title %}

{% block content %}
<div class="basic-form-margin">

  <h2>edit event Run</h2>
  
  <form class="form-style" method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}

        <p>{{ field.label_tag}}{{ field }}</p>

    {% endfor %}
    <button type="submit">Save</button>
  </form>
  
</div>
{% endblock content %}