{% extends 'base.html' %}

{% load event_tags %}

{% block title %}
    <title>Event Listing</title>
{% endblock title %}


{% block content %}

    

    <form class="event-filters"  method="GET">
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% for field in filter_form.visible_fields %}
            <div class="form-filter">
                {{ field.label_tag }} {{ field }}
                <div class="errors">
                    {% if  field.label == "From" %}
                        {% for error in form.non_field_errors %}
                        <div class="error">XX{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}          
        
        <button type="submit">Filter</button>
    </form>

    <div class="event-category-filters">
        <!--by clicking these buttons we should be taken to event listing, that show us only events of the given event category-->
        <a class="button-gold" href="{% url 'events:search' 'fun' %}">Fun</a>
        <a class="button-gold" href="{% url 'events:search' 'experience' %}">Experience</a>
        <a class="button-gold" href="{% url 'events:search' 'sights' %}">Sights</a>
        <a class="button-gold" href="{% url 'events:search' 'relax' %}">Relax</a>
        <a class="button-blue" href="{% url 'events:search' 'all' %}">Reset all filters</a>
    </div>
       
    
    <div class="event-container">
        {% if event_runs %}    
        <div class="event-grid">
            {% for eventrun in event_runs %}
            <a class="event-tile" href="{{ eventrun.event.get_absolute_url }}">
                    {% if eventrun.event|has:'thumbnail' %}
                    <img src="{{ eventrun.event.thumbnail.url }}">
                    {% else %}
                    <div class="not-available"></div>
                    {% endif %} 
                    <div class='event-detail'>
                    <p>Host:{{eventrun.event.name}} </p>
                    <p>Name:{{eventrun.event.host }}</p>
                    
                    <p>Next:  {{eventrun.date}}</p> 
                    <p>Price: {{eventrun.price}}</p>
                    <p>Seats: {{eventrun.seats_available}}</p>
                               
                    <p>Price from: ${{ eventrun.event.eventrun_set.all|active|min_attr_value:"price" }}</p>
                    <p>Seats up to: {{ eventrun.event.eventrun_set.all|active|max_attr_value:"seats_available" }}</p>
                    </div>
                    
            </a>                              
            {% endfor %}
        {% else %}
            <div class="info empty-search">No events found ...</div>
        {% endif %}
        </div>  
    </div> 

    {% include 'pagination.html' with page=page_obj %}
    
    
   
{% endblock content %}
