{% extends 'base.html' %}

{% load event_tags %}

{% block title %}
    <title>Event Detail</title>
{% endblock title %}

{% block content %} 
    <div class="event-detail-top">
        <h3 class="event-detail-undertop">DETAIL OF EVENT:{{ events.name }}</h3>
        <!-- {% if run.event.host is user %}
        <a class="event-detail-undertop edit-button" href="{% url 'events:edit_event' events.slug %}">edit event </a>
        <a class="event-detail-undertop edit-button" href="{% url 'events:delete_event' events.slug %}">delete event </a>
        {% endif %} -->
    </div>
        <div class="event-info">
            <div>
                <p> LOCATION: </p>
                <p> DESCRIPTION: </p>
                <p> CATEGORY:  </p>
                <p> HOST:      </p> 
            </div>
            <div>
                <p>{{events.location}}</p>
                <p>{{events.description }} </p>
                <p>{{events.category}}</p>
                <p>{{events.host}} </p> 
            </div>
        </div>
    <div class="event-detail-pictures">
        <div class="main-image">
            {% if events|has:'main_image' %}
            <img src="{{ events.main_image.url }}">
            {% else %}
            <div class="not-available"></div>
            {% endif %}
            
        </div>
        <!--Image slideshow-->
        <div class="owl-carousel">
            {% for image in events.album.image_set.all %}
            <img src="{{ image.image.url }}" alt="{{ image.title }}">
            {% endfor %}
        </div>
    </div>
        

    
    <div class="event-detail-top">
        <h3 class="event-detail-undertop">EVENT RUNS</h3>
        <a class="event-detail-undertop" href="{% url 'events:new_event_run' events.slug %}">ADD EVENT RUN </a>
    </div> 

    <div class="event_run-container">
        <div class="event_run-grid">
            {% if events_run %}
            {% for event_run in events_run %}
            <div class="event_run-detail">
                <p> EVENT:{{event_run.event }} </p>
                <p> DATE: {{ event_run.date}} </p>
                <p> TIME:{{ event_run.time}} </p>
                <p> SEATS AVAILABLE: {{ event_run.seats_available }} </p>
                <p> PRICE:  $ {{event_run.price}} </p> 
                {% if event_run.event.host == user %}
                <a class='edit-button' href="{% url 'events:edit_event_run' event_run.id %}">edit event run </a>
                <a class='edit-button' href="{% url 'events:delete_event_run' event_run.id %}">delete event run</a>
                {% else %}
                <td>
                    <div>
                    <form class='cart-add' method='POST' action="{% url 'cart:add' event_run.event.slug %}">
                        {% csrf_token %}
                        {{ cart_add_form.quantity }}
                        
                        {{ cart_add_form.quantity.errors }}
                        

                        <input name="max_seats" value={{ event_run.seats_available }} type="hidden">   
                        <input name="product_id" value={{ event_run.id }} type="hidden">
                        <button type='submit'>Add to Cart</button>
                    </form>
                    </div>
                </td>
                {% endif %}
                
            </div>
            {% endfor %}
            {% else %}
            <p>No event run for this event</p>
            {% endif %}
            
        </div>
    </div>
    
    {% endblock content %}
