<!DOCTYPE html>
<html>
<head>
    <title>Events run Listing</title>
</head>
<body>
    <h3> Events run list</h3>
    <ul>
    {% for event_run in events_run %}
    <li>EVENT:{{ event_run.event }} DATE: {{ event_run.date}} TIME:{{ event_run.time}} SEATS AVAILABLE: {{ event_run.seats_available }} PRICE:{{event_run.price}} <a href='/events_run/edit/{{ event_run.id }}'>edit event run</a> <a href='/events_run/delete/{{ event_run.id }}'>delete event run </a>
    {% endfor %}
    </ul>

</body>
</html>