{% extends 'base.html' %}

{% block content %}

<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <button type="submit">Delete</button>
    <a class="button-gold " href="{% url 'events:my_events' %}">Cancel</a>
</form>

{% endblock %}