{% extends 'base.html' %}

{% block content %}


<div class="main-banner">
        <p class="claim">Quit the daily routine...</p>
        <a class="button-gold" href="{% url 'events:search' 'fun' %}">Fun</a>
        <a class="button-gold" href="{% url 'events:search' 'experience' %}">Experience</a>
        <a class="button-gold" href="{% url 'events:search' 'sights' %}">Sights</a>
        <a class="button-gold" href="{% url 'events:search' 'relax' %}">Relax</a>
    
</div>


{% endblock %}