{% extends 'base.html' %}

{% load event_tags %}


{% block title %}
    <title>My events</title>
{% endblock title %}

{% block content %}

<div class="my-event-container">
<div class="my-event-grid">
    <div class="my-event-tile">
        {% for event in my_events %}
            {% if event|has:'thumbnail' %}
            <img src="{{ eventrun.event.thumbnail.url }}">
            {% else %}
            <div class="not-available"></div>
            {% endif %} 
        <div class='my-event-detail'>
        <p>EVENT: {{ event.name }}</p>
        <a href="{{ event.get_absolute_url }}">event detail </a>
        <a href="{% url 'events:edit_event' event.slug %}">edit event </a>
        <a href="{% url 'events:delete_event' event.slug %}">delete event </a>
        </div>
        {% endfor %}
    </div>
</div>
</div>
<div class="add-event-link">
<a class="add-event-link" href="{% url 'events:create_event' %}">ADD EVENT</a>
</div>
{% endblock content %}